version: '3.3'
services:
#   notes-client:
#     build:
#       context: ./notes-client/notesapp
#       dockerfile: Dockerfile
#     depends_on: 
#       - notes-service
#     restart: always
#     container_name: notes-client
#     ports:
#       - 4200:4200
#     network_mode: host
#     hostname: localhost

  notes-service:
    build:
      context: ./notes
      dockerfile: Dockerfile
    depends_on:
      - notesdb
    restart: always
    environment:
      - mysql_username=root
      - mysql_password=root
      - mysql_dbname=ccassignment
    container_name: notes-service
    #links:
     # - notesdb
    ports:
      - 8002:8002
#     network_mode: host
#     hostname: localhost


  notesdb:
    image: mysql:8
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_ROOT_USER=root
      - MYSQL_DATABASE=ccassignment
    container_name: notesdbc
    ports:
      - 3306:3306
#     network_mode: host
#     hostname: localhost
